html,
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Roboto", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
        Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

a,
a:active {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0%;
    width: 250px;
    height: 100%;
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;

    ul {
        li {
            margin: 10px 0;

            a {
                color: white;
                font-size: 1.2em;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: #3498db;
                }
            }
        }
    }

    z-index: 10;

    @media screen and (max-width: 768px) {
        width: 100%;
        height: 60px;
        flex-direction: row;
        justify-content: space-between;

        padding: 25px 0 25px 0;

        ul {
            display: inline-flex;
            gap: 20px;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            align-content: center;

            li {
                margin: 0;

                a {
                    font-size: 0.8em;
                }
            }
        }
    }
}

main {
    @media screen and (max-width: 768px) {
        margin: 90px 0 0 0;
        padding: 10px;
    }

    margin: 0 50px 0 360px;

    h1 {
        margin-top: 0.67em;
        margin-bottom: 0;
    }

    h2 {
        margin: 0;
    }

    section {
        margin: 0.77em 0;

        h2 {
            margin: 0.9em 0 1.1em 0;
        }
    }
}

#socials {
    margin: 1em 0;
    display: flex;
    gap: 5px;

    a {
        svg path {
            transition: all 0.2s ease-in-out;
            fill: rgb(20%, 20%, 20%);
        }

        &:hover {
            &#github {
                svg path {
                    fill: black;
                }
            }

            &#gitlab {
                svg path {
                    fill: #e24329;
                }
            }

            &#linkedin {
                svg path {
                    fill: #0077b5;
                }
            }

            &#mail {
                svg path {
                    fill: #0a7740;
                }
            }
        }
    }
}

section {
    position: relative;
}

h2::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #0077b5;
    left: 0;
    top: 35px;
}

h2::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #2c3e50;
    left: 0;
    top: 42px;
}

footer {
    text-align: center;
    margin: 2em 0 0 260px;
    color: white;
    background-color: #2c3e50;
    padding: 1.5em 0;

    p {
        margin: 0;
    }

    @media screen and (max-width: 768px) {
        margin: 0;
    }
}

.experiences,
.educations {
    margin-top: 30px;

    display: flex;
    flex-direction: column;

    h4 {
        margin: 0.5em 0 0.3em 0;
    }

    h5 {
        margin: 0.4em 0;
    }

    gap: 15px;

    &>li {
        position: relative;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 5px;

        >span {
            vertical-align: middle;
            position: absolute;
            top: 15px;
            right: 15px;
        }

        h3 {
            margin: 0;
        }

        @media screen and (max-width: 768px) {
            h3 {
                width: 65%;
                margin-bottom: 0.3em;
            }
        }

        sub {
            vertical-align: middle;
        }

        ul {
            position: relative;
            margin-left: 40px;

            h4 {
                margin-bottom: 0.2em;
            }

            .date {
                margin: 0;
                position: absolute;
                top: 0;
                right: 0;

                @media screen and (max-width: 768px) {
                    font-style: italic;
                    position: relative;
                    right: auto;
                    top: auto;
                    margin: 0.3em 0 0.5em 0;
                }
            }
        }
    }
}

.comp {
    margin: 0 0 0.7em 0;
}

.steps>li {
    position: relative;
}

.steps>li::after {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #0077b5;
    top: 3px;
    left: -21px;
}

.skills {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    gap: 5px;

    li {
        margin-top: 5px;
        margin-right: 2%;
    }
}

.tasks {
    list-style-type: disc;
    margin-left: 1.7em;

    .task::marker {
        color: #2c3e50;
    }

    p {
        margin: 0.2em 0;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #2c3e50;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::selection {
    background: #2c3e50;
    color: white;
}




.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80, 80, 80);
    background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);

    z-index: 5;
}

.timeline li {
    padding: 1em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 300px;
    float: right;
}

.flag-wrapper {
    position: relative;
    display: inline-block;

    text-align: center;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(248, 248, 248);
    padding: 6px 10px;
    border-radius: 5px;

    font-weight: 600;
    text-align: left;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #3498db;
    z-index: 10;


}

.direction-l .school:before,
.direction-r .school:before {
    border-color: #30b4b4;
}

.direction-l .company:before,
.direction-r .company:before {
    border-color: #34db66;
}

.direction-l .project:before,
.direction-r .project:before {
    border-color: #dbca34;
}

.direction-l .github:before,
.direction-r .github:before {
    border-color: #a8a8a8;
}

.direction-r .flag:before {
    left: -40px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: inline;
    line-height: 1em;
    font-size: 0.66666em;
    color: #3498db;
    vertical-align: middle;
    margin-top: 3px;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
}

.desc {
    margin: 1em 0.75em 0 0;

    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;

    ul li {
        list-style: disc;
        padding: 0.2em;

    }
}


.direction-r .desc {
    margin: 1em 0 0 0.75em;
}


@media screen and (max-width: 660px) {

    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }

    .timeline li {
        padding: 2em 0;
    }

    .direction-l,
    .direction-r {
        float: none;
        width: 100%;

        text-align: center;
    }

    .flag-wrapper {
        text-align: center;
    }

    .flag {
        background: rgb(255, 255, 255);
        z-index: 15;
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -9px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid #3498db;
        z-index: 10;
    }

    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255, 255, 255);
        border-width: 8px;
        pointer-events: none;
    }

    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }

    .direction-l .time-wrapper {
        float: none;
    }

    .direction-r .time-wrapper {
        float: none;
    }

    .desc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgb(254, 254, 254);
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);

        z-index: 15;

        ul>li {
            list-style-type: none;
        }
    }

    .direction-l .desc,
    .direction-r .desc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;

        z-index: 15;
    }

}

@media screen and (max-width: 660px) {

    .direction-l .desc,
    .direction-r .desc {
        margin: 1em 4em 0 4em;
    }

}